#footer{
    font-family: 'Oswald', sans-serif;
    background: rgb(0,36,13);
    background: linear-gradient(4deg, rgb(9, 2, 51) 0%, rgba(42, 86, 168, 0.995) 45%, rgb(46, 70, 206) 100%);

    .fas{
        color: #000;
    }
    .powered{
        letter-spacing: 2px;
        font-size: 1.4rem;
    }
}